E2E_BASE_URL=https://app.pre-prod.snip-app.win
E2E_API_URL=https://api.pre-prod.snip-app.win
E2E_REDIRECT_URL=https://r.pre-prod.snip-app.win
E2E_EMAIL=
E2E_PASSWORD=
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
