OG_IMAGE_BASE_URL=http://localhost:9002/snip-og-images
REDIRECT_BASE_URL=http://localhost:8001

# OpenTelemetry
OTEL_SERVICE_NAME=redirect-service
OTEL_ENABLE_FASTAPI=true
OTEL_ENABLE_SQLALCHEMY=true
OTEL_ENABLE_GRPC=true
# OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
